[Unit]
Description=Apache NiFi
After=network.target

[Service]
Type=forking
User=nifi
Group=nifi
EnvironmentFile=/etc/sysconfig/nifi
ExecStart=/opt/nifi/bin/nifi.sh start
ExecStop=/opt/nifi/bin/nifi.sh stop
Restart=/opt/nifi/bin/nifi.sh restart

[Install]
WantedBy=multi-user.target

